* {
  /* box-sizing: border-box; */
}

:focus {
  /* TODO */
}

body {
  /* Creating The Color Gradient */
  background-image: linear-gradient(90deg, yellow, orange);
  height: 100vh;
}

input {
  /* text box */
  margin: auto;
  width: 100%;
}

.search-container {
  /* The container holding the search buttons and suggestions */
  position: fixed;
  width: 35%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.search-container input {
  /* styling the search field */
  background-color: rgba(255, 250, 205, 0.644);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: orange;

}

.search-container .suggestions {
  /* TODO */
}

span.has-suggestions {
  /* TODO */
}

span div {
  /* The suggested fruit */
  background-color: rgb(255, 204, 128);
}

span div:hover {
  /* create the dimming effect on the suggested fruit*/
  background-color: lightgrey;
}

input {
  /* TODO */
}